<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:screenOrientation="portrait" >

    <uses-permission android:name="aandroid.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--  общая телефония -->
    <uses-feature android:name="android.hardware.telephony"/>

    <!--  CDMA-телефония -->
    <uses-feature android:name="android.hardware.telephony.cdma"/>

    <!--  GSM-телефония -->
    <uses-feature android:name="android.hardware.telephony.gsm"/>

    <application
        android:name=".view.TaxiApp"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/car"
        android:label="@string/app_name"
        android:roundIcon="@drawable/car"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taxi_full"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/security">
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Taxi_full.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".view.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar">
        <intent-filter>

        <action android:name="com.example.taxi_full.Welcome"/>

        <category android:name="android.intent.category.DEFAULT" />

        </intent-filter>
        </activity>

        <activity
            android:name=".view.Driver_ClientActivity"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar">
            <intent-filter>

                <action android:name="com.example.taxi_full.Driver_client"/>

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar">
            <intent-filter>

                <action android:name="com.example.taxi_full.Login"/>

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity
            android:name=".view.SMSActivity"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar">
            <intent-filter>

                <action android:name="com.example.taxi_full.SMS_Code"/>

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity
            android:name=".view.RegistrationActivity"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>

                <action android:name="com.example.taxi_full.Registration"/>

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity
            android:name=".view.Home.user.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>

                <action android:name="com.example.taxi_full.Home"/>

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity

            android:name=".view.Home.driver.HomeActivityDriver"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar"
            android:noHistory="true">
            <intent-filter>

                <action android:name="com.example.taxi_full.HomeDriver"/>

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
        
        <activity android:name=".view.GoActivityDriver"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar"
            android:noHistory="true"
            android:launchMode = "singleTask">
            <intent-filter>

                <action android:name="com.example.taxi_full.GoDriver"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>

        <activity android:name=".view.GoActivityUser"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar"
            android:noHistory="true"
            android:launchMode = "singleTask">
            <intent-filter>

                <action android:name="com.example.taxi_full.GoUser"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>

        <activity android:name=".view.AddCar"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar">
            <intent-filter>

                <action android:name="com.example.taxi_full.AddCar"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>

        <activity android:name=".view.RequestDriver"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar"
            android:noHistory="true">
            <intent-filter>

                <action android:name="com.example.taxi_full.RequestDriver"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>

        <activity android:name=".view.RequestUser"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar"
            android:noHistory="true">
            <intent-filter>

                <action android:name="com.example.taxi_full.RequestUser"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>

        <activity android:name=".view.ChatActivity"
        android:exported="true"
        android:theme="@style/Theme.Taxi_full.NoActionBar">
        <intent-filter>

            <action android:name="com.example.taxi_full.Chat"/>

            <category android:name="android.intent.category.DEFAULT"/>

        </intent-filter>
    </activity>

        <activity android:name=".view.Debt"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar"
            android:noHistory="true">
            <intent-filter>

                <action android:name="com.example.taxi_full.Debt"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>

        <activity android:name=".view.PayOffNal"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar"
            android:noHistory="true">
            <intent-filter>

                <action android:name="com.example.taxi_full.PayOffNal"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>

        <activity android:name=".view.CardPaymentActivity"
            android:exported="true"
            android:theme="@style/Theme.Taxi_full.NoActionBar"
            android:noHistory="true">
            <intent-filter>

                <action android:name="com.example.taxi_full.CardPayDriver"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>


    </application>

</manifest>